@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.bundle.scp.css';

/* _content/BlazingBlog/Components/Layout/MainLayout.razor.rz.scp.css */
.bg-purple[b-8wbblrcnuz] {
    background-color: var(--color--purple);
}

.footer[b-8wbblrcnuz] {
    background-color: var(--bs-gray-200);
}
/* _content/BlazingBlog/Components/Pages/Login.razor.rz.scp.css */
.overlay[b-br0wvkq82t]{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity:0.5;  
    z-index: 2000
}
.loading-wrapper[b-br0wvkq82t]{
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    z-index: 2001
}
